{% extends "template.html" %}
{% block title %}About - {% endblock %}
{% block content %}
    <div class="about___ container">
        <div class="card" style="padding:15px 30px">
            <h1 style="text-align:center">About US</h1> <!---->
            <!-- <div class="gallary">
        <div class="i"></div>
        <div class="i"></div>
        <div class="i"></div>
        <div class="i"></div>
        <div class="i"></div>
        <div class="i"></div>
        <div class="i"></div>
    </div>
    <p>Thank you for showing your interest to know about our team members and goals and motto of our company. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto consequatur quibusdam ea impedit, dolores est? Modi aperiam nesciunt molestiae perspiciatis eveniet quia consequatur, sequi, provident, veritatis iure nobis rerum? Necessitatibus!</p> -->
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ea asperiores ratione laborum libero quidem quia dolores enim nobis culpa alias at, facere vero earum qui explicabo repellat obcaecati cum.
            </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ea asperiores ratione laborum libero quidem quia dolores enim nobis culpa alias at, facere vero earum qui explicabo repellat obcaecati cum.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ea asperiores ratione laborum libero quidem quia dolores enim nobis culpa alias at, facere vero earum qui explicabo repellat obcaecati cum.</p>

        </div>
    </div>

{% endblock %}